#main{
    align-items: center;
    background-color: aquamarine;
}

.title{
    color: blue;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.time{
    display: block;
    width: 150px;
    height: 80px;
    background-color: orange;
    color: white;
}